.color-nav {
  background-color: rgb(243, 52, 4);
}

.photo {
  width: 20%;
  max-width: 250px;
  min-width: 160px;
}

.word {
  font-weight: bold;
  color: white;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginStatus {
  color: red;
}

.hide {
  color: white;
}

.boundary89 {
  border: 2px solid rgb(50, 50, 50);
  border-radius: 15px;
  background-color: white;
}

.grid4 {
    width: 18rem;
}

.grid5 {
    width: 30rem;
  }

  .loo1{
    /* width:100%;  */
    height: 60px;
    object-fit: none;
}

.loo2{
    /* width:100%;  */
    height: 28px;
    object-fit: none;
    width: 28px;
}

.text55{
    font-size: 20px;
}

.linkcolor22{
    color: black;
}

.picture00{
    width: 90%;
}

.text66{
    font-size: 15px;
}

.text59{
  font-size: 9px;
}

.backFilterColor{
  background-color: lightsalmon;
}

.boundary57{
  border:2px solid rgb(50,50,50);
  border-radius: 15px;
  overflow: scroll;
}

.letter16 {
  color: red;
  font-family: "Gill Sans", sans-serif;
  width: 14%;
}

.letter46{
  color: black;
  font-size: 16px;
  font-family: Tahoma, sans-serif;
}

.centerObject {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sizeBtn{
  width: 250px;
  height: 120px;
  font-size: 108px;
}

.arrowSize{
  /* width:100%;  */
  object-fit:contain;
  width: 48px;
}

.text33{
  color: red;
}

.table4{
  border-collapse:collapse; 
  table-layout:fixed;
  width: 50%;
}

.verticalMiddle{
  display: flex;
  flex-direction:column;
  align-items:baseline;
}