.color-nav{
    background-color: rgb(243, 52, 4);
}

.photo{
    width: 20%;
    max-width:250px;
    min-width:160px;
    display: flex;
    justify-content:left;
    align-items:left;
}

.word{
    font-weight:bold;
    color: white;
}

.word12{
  font-weight:bold;
  color: rgb(60,60,60);
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginStatus{
    color: red;
}

.auth-inner22 {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
    box-shadow: 0px 14px 80px rgba(255, 255, 255);
    border-radius: 15px;
    /* border:3px solid darkred;
    border-radius: 15px; */
  }

  /* table, tr, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  tr, th, td {
    background-color: white;
    border-color: black;
    border: 5px solid white;
    border-collapse: collapse;
  } */

  .containerMatching{
    border:3px solid lightblue;
    border-radius: 15px;
  }
  
  .backcolorMatching{
    background-color: lightblue;
  }

  .text88 {
    text-align: left;
    font-family: Georgia, serif;
}
.row{
  display: flex;
}

.column{
  flex: 50%;
}

.center33{
  justify-content: center;
}

#wrap {
  background: white;
  display: flex;
  justify-content: center;
  padding: 5%; 
  width: 100%;  
}

#left, #right {
  background: white;
  padding: 2%;   
  justify-content:left;
}

.sameline{
  display: inline;
  /* text-align: left; */
  font-family: Georgia, serif;
}


.page4 {
  justify-content:left;
}

.table7 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.th7 {
  border: 1px solid rgb(150,150,150);
  text-align: left;
  padding: 8px;
  width: 50%;
}

.th8 {
  border: 1px solid rgb(150,150,150);
  text-align: left;
  padding: 8px;
  width: 30%;
}

.th9 {
  border: 1px solid rgb(150,150,150);
  text-align: left;
  padding: 8px;
  width: 20%;
}

.td7 {
  border: 1px solid rgb(150,150,150);
  text-align: left;
  padding: 8px;
  width: 50%;
}

.td8 {
  border: 1px solid rgb(150,150,150);
  text-align: left;
  padding: 8px;
  width: 30%;
}

.td9 {
  border: 1px solid rgb(150,150,150);
  text-align: left;
  padding: 8px;
  width: 20%;
}

.tr7:nth-child(even) {
  background-color: #dddddd;
}

.linkcolor2{
  color: black;
}

.boundary77{
  width: 80%;
}

.grid12{
  width: 90%;
}

.grid11{
  width: 50%;
}

.boundary33{
  border:2px solid rgb(50,50,50);
  border-radius: 15px;
  width: 80%;
}

.boundary88{
  width: 80%;
}